@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


nav {

    padding: 30px 240px;
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.gamer {
    display: flex;
    height: 53px;
    align-items: center;
}

.gamer .game-g {
    color: #F948B2;
}

.gamer p {
    color: #0B0223;

    font-size: 45px;

    font-weight: 700;
}

.gamer img {
    padding-right: 20px;
}

.nav-link {
    gap: 32px;
    display: flex;
    align-items: center;

}

.nav-link a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;

}

.follow {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    border: 2px solid red;
    width: 262px;
    height: 56px;
    background: rgba(11, 2, 35, 0.10);

    /* text-align: center; */
}

.follow p {
    padding-left: 24px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.follow img {
    padding: 16px 12px;

}

/* header section */
.banner-section {
    display: flex;
}

.top1 {
    background-image: url(images/Group\ 14.png);
    padding: 148px 309px 148px 244px;
}

.top1 h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}

.top1 h1 {
    margin-top: 0px;
    margin-bottom: 24px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
}

.top1 p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.btn-double {
    display: flex;
    gap: 10px;
}

.btn1 {
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
}

.btn2 {
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
}

.banner-image {
    padding: 19px 240px 0px 68px;
}
/* online game funny videos */
.section-1{
    margin: 120px 240px;
    text-align: center;
}
.section-1 h2{
    margin-bottom: 16px;
    color: #0B0223;
font-size: 48px;
font-weight: 700;
}
.section-1 h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.section-1 p{
    padding-bottom: 48px;
    color: #534C64;
font-size: 18px;
font-weight: 400;
}
.main-pic{
    display: flex;
    gap: 24px;

}
/* play game online section */
.play-game-online{
    margin: 120px 240px 0px 238px;
    display: flex;
    
}
.online-game-img{
    width: 100%;
    height: 100%;

}
.img2{
    position: relative;
    bottom: 250px;
    right: 180px;
    float: right;
}
.play-game-online-dis{
    text-align: center;
}
.play-game-online h2{
    width: 426px;
    font-size: 48px;
font-weight: 700;
   color: black;

}
.play-game-online .play-game-online-dis h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-game-online-dis{
    width: 483px;
    color: #534C64;
font-size: 18px;
font-weight: 400;
text-align: left;
}
/* fotter icon */
.footer-all-icon{
    padding: 120px 240px 120px 240px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    gap: 39px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.footer-all-icon li{
    display: flex;
    gap: 10px;
    border-radius: 50px;
background: #FFF;
color: #0B0223;
font-size: 20px;
font-weight: 600;
align-items: center;
}
.footer-all-icon li img{
    width: 60px;
height: 60px;
border-radius: 50px;
}
/* last footer */
.footer-end{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    background-color: #0B0223;

}
.footer-end .gamer p{
    color: #FFF;
}
.div1
{   padding-bottom: 66px;
    display: flex;
    gap: 60px;
    font-weight: 600;
    font-size: 18px;
    color: #FFF;
}
.div2
{
    padding-bottom:74px;
    display: flex;
 gap: 40px;
}
.div3
{
    display: flex;
    gap:60px;
    color: rgba(255, 255, 255, 0.60);

}
.footer-end .gamer{
    padding:120px 833px 56px 833px;
}
.bottom-text{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 100px;
    padding-top: 20px;
}
/* hover section */
.online-game img:hover{
    opacity: 0.5;
    border: 3px solid red;
    border-radius: 16px;

}



.footer-all-icon li:hover{
    cursor:pointer;
    
    border: 3px solid palevioletred;
    border-radius: 50px;
}

/* media quari */
/* responsive for Mobile */
@media screen and (max-width:425px){
    
    nav{
        flex-wrap: wrap;
    
    }
    .gamer{
        padding: 109px 596px 69px 429px;
    }
    .nav-link{
        padding: 70px 425px;
        flex-direction: column;
    }

    .banner-section{
        margin-left: 145px ;
        margin-right: 66px;
        flex-direction: column;
    }
    .top1{
        width: 901px;
height: 700px;
        /* padding: 30px 66px 36px 145px; */
        text-align: center;
    }
    .btn1{
        margin-left: 237px;
        margin-bottom: 167px;
    }
    .btn2{
        margin-right: 165px;
        margin-bottom: 165px;
    }

    .banner-image{
        margin-right: 192px;
        margin-left: 209px;
    }






    .section-1{
        margin: 163px 225px 0px 232px;
        align-items: center;
        
    }
    .section-1 h2,p{
        width: 655px;
        height: 56px;
    }
    
.online-game{
    padding: 81px 239px 0px 270px;
}


    .main-pic{
        flex-direction: column;
        text-align: center;
    }
    .play-game-online{
        flex-direction: column;
    }
    .footer-all-icon{
        grid-template-columns: repeat(3 ,1fr);
    }
    .footer-end{
        width: auto;
        max-width: 100%;
    }
}